<%= provide(:title , 'Signup') %>

<center><h1>Signup</h1></center>


<%= form_for @user do |f| %>
<div class="textfield">
<%= f.label :name %>
<%= f.text_area :name %> <br>
<%= f.label :email %> 
<%= f.text_area :email %>
<%= f.submit "Submit" %>
</div>
<% end %>
